block vars
doctype html 
html 
  head 
    link(rel="stylesheet", href="./styles/normalize.css")
    link(rel="stylesheet", href="./sass/main.scss")
    title #{title}
  body
    block content
    block scripts